//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #c1401e;

//breakpoints
$tablets: 768px;
$phones: 480px;

//adjustment
@import "normalize.css";
@import "fonts.scss";
@import "media.scss";

//blocks style
@import "blocks/button.scss";
@import "blocks/section-title.scss";
@import "blocks/header.scss";
@import "blocks/section__nav.scss";
@import "blocks/down-arrow.scss";
@import "blocks/feature.scss";
@import "blocks/review.scss";
@import "blocks/accordeon__item__desc.scss";
@import "blocks/accordeon__desc__text.scss";
@import "blocks/accordeon__item.scss";
@import "blocks/map__footer.scss";
@import "blocks/menu__acco.scss";
@import "blocks/svg__icons.scss";
@import "blocks/order__form.scss";
@import "blocks/burgers-menu-link.scss";
@import "blocks/burgers__content.scss";
@import "blocks/menu__overlay.scss";


//section style
@import "layouts/layout.scss";
@import "sections/welcome.scss";
@import "sections/best.scss";
@import "sections/reviews.scss";
@import "sections/team.scss";
@import "sections/menu.scss";
@import "sections/map.scss";
@import "sections/order.scss";
@import "sections/burgers.scss";






