@import url(normalize.css);
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }
.button {
  color: #fff;
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  background-color: #e45028;
  border-radius: 5px;
  padding: 0.625rem 0.9375rem; }
  .button:hover {
    background-color: #c1401e; }
  .button--bg-black {
    background-color: #2f3234; }
    .button--bg-black:hover {
      background-color: #1f2122; }
  .button-order {
    border: none;
    width: 6.0625rem;
    outline: none; }
  .button-reset {
    border: none;
    color: #fff;
    background-color: transparent;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    margin-left: 0.625rem; }
  .button-burgers {
    color: #fff;
    text-decoration: none;
    height: 34px;
    margin-top: 35px; }

.section-title {
  font-size: 4.5rem;
  font-family: Gagalin, sans-serif;
  font-weight: normal;
  color: #e45028; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 3.125rem; } }
  .section-title--color-black {
    color: #2f3234; }
  .section-title--color-white {
    color: #fff; }
  .section-title--centered {
    text-align: center; }
  .section-title--color-yellow {
    color: #f9b43b; }
  .section-title--desc__title {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff; }

.welcome__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.menu__list {
  display: flex;
  align-items: center; }

.menu__item {
  display: flex;
  align-items: center;
  margin-right: 0.9375rem; }
  .menu__item:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: 1.25rem; }
  .menu__item:last-child {
    margin-right: 0; }
    .menu__item:last-child:after {
      display: none; }

.menu__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem; }

.welcome__order-button {
  margin-left: 0.9375rem;
  text-transform: uppercase; }

.section__nav {
  position: fixed;
  left: 95%;
  top: 15%;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .section__nav {
      display: none; } }

.section__nav__item {
  color: #fff;
  width: 6px;
  height: 6px;
  margin: 15px;
  background: white;
  border-radius: 50%;
  position: relative; }
  .section__nav__item-active:after {
    top: -5px;
    left: -5px;
    position: absolute;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid white; }
  .section__nav__item:hover:after {
    top: -5px;
    left: -5px;
    position: absolute;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid white; }

.nav__item__link {
  width: 16px;
  height: 16px;
  position: absolute;
  left: -5px;
  top: -5px; }

.down__arrow {
  display: block;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%); }

@media screen and (max-width: 480px) {
  .feature {
    display: inline-flex; } }

.feature__desc {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .feature__desc {
      text-align: left;
      width: 90%;
      padding-left: 19px; } }

.feature__icon {
  margin-bottom: 10%; }

.feature__title {
  font-family: Lifehack, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  color: #2f3234;
  margin-bottom: 0.625rem; }

.feature__text {
  font-size: 0.875rem;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.review {
  position: relative; }
  .review:hover .review__hover {
    opacity: 1; }

.review__avatar {
  object-fit: cover;
  width: 100%;
  height: 100%; }
  .review__avatar-wrap {
    filter: grayscale(100%);
    height: 100%; }

.review__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10% 12% 0;
  color: #fff;
  opacity: 0;
  transition: opacity .3s; }

.review__title {
  font-family: Gagalin, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 20px; }

.review__text {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 12px; }

.button--bg-black {
  text-transform: uppercase; }

.accordeon__item__desc {
  display: flex;
  margin-bottom: 0.8125rem;
  height: 0;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .accordeon__item__desc {
      flex-direction: column;
      align-items: center; } }

.accordeon__item__title {
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-left: 0.9375rem; }
  .accordeon__item__title:before {
    content: '';
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 5px solid yellow;
    position: absolute;
    top: 5px;
    left: 0; }
  @media screen and (max-width: 768px) {
    .accordeon__item__title {
      display: inline-flex; } }

.accordeon__desc__avatar {
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
  border-radius: 50%;
  background: url("../img/content/123456789 copy.JPG") center center/cover no-repeat; }

.accordeon__desc__text {
  width: 12.8125rem;
  padding-left: 0.9375rem; }

.accordeon__desc__text__content {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 0.875rem; }

.accordeon__item {
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .accordeon__item {
      text-align: center; } }
  .accordeon__item-active .accordeon__item__title {
    color: #f9b43b; }
    .accordeon__item-active .accordeon__item__title:before {
      border: 3px solid transparent;
      border-bottom: 5px solid yellow; }
  .accordeon__item-active .accordeon__item__desc {
    height: 100%;
    width: 100%; }
    .accordeon__item-active .accordeon__item__desc-vertical {
      width: 11.25rem;
      height: 100%; }

.accordeon__item__link {
  text-decoration: none; }

.map__footer {
  display: flex;
  justify-content: center;
  height: 3.75rem;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 480px) {
    .map__footer {
      height: 7.1875rem; } }

.footer__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 85%;
  align-items: center;
  color: #ffff; }
  @media screen and (max-width: 480px) {
    .footer__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      white-space: nowrap; } }

.footer__content__left, .footer__content__right {
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .footer__content__left, .footer__content__right {
      width: 100%; } }

.footer__content__left {
  justify-content: flex-start;
  color: #fff;
  padding-top: 0.625rem; }

.footer__content__right {
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__content__right {
      display: block; } }

.vk {
  height: 100%;
  width: auto; }

.footer__content__address {
  font-size: 0.875rem;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  padding-bottom: 0.3125rem; }

.footer__content__phone {
  display: inline-flex;
  color: #E45028;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 0.875rem; }

.phone-icon {
  margin-top: 0.1875rem;
  margin-right: 0.5rem; }

.content__right__icons {
  padding-top: 1.125rem; }

.icon__link {
  text-decoration: none;
  margin-right: 1.25rem; }

.vk-icon:hover {
  fill: #fff; }

.fb-icon:hover {
  fill: #fff; }

.inst-icon:hover {
  fill: #fff; }

.twitter-icon:hover {
  fill: #fff; }

.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  width: 70%; }
  @media screen and (max-width: 768px) {
    .menu-acco {
      width: 100%; } }

.menu-acco__item {
  position: relative;
  display: flex; }

.menu-acco__trigger {
  width: 80px;
  position: relative; }

.menu-acco__bg {
  background-size: cover; }

.menu-acco__trigger-title {
  position: absolute;
  bottom: -70px;
  left: 50%;
  white-space: nowrap;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateY(-50%);
  font-size: 48px; }

.menu-acco__content {
  overflow: hidden;
  width: 0;
  background: rgba(0, 0, 0, 0.6); }

.active {
  overflow: hidden;
  width: 100%; }
  .active .menu-acco__trigger-title {
    color: #f9b43b; }

.menu-acco__text {
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 12%;
  line-height: 1.7; }

.phone-icon {
  fill: #E45028; }

.vk-icon {
  fill: #5b5b5b; }

.fb-icon {
  fill: #5b5b5b; }

.inst-icon {
  fill: #5b5b5b; }

.twitter-icon {
  fill: #5b5b5b; }

.order__form {
  display: flex;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .order__form {
      margin-left: 0;
      flex-direction: column;
      padding: 0 15%; } }

.order__form-tag {
  color: #fff; }

.order__form-row {
  display: flex;
  margin-bottom: 0.8125rem; }
  @media screen and (max-width: 480px) {
    .order__form-row {
      justify-content: center; } }

.order__form-col {
  width: 50%; }
  .order__form-col__right {
    width: 48%;
    margin-left: 2%; }
  @media screen and (max-width: 768px) {
    .order__form-col {
      margin-left: 0;
      width: 100%; } }

.order__form-label {
  display: flex;
  margin-bottom: 0.625rem; }
  .order__form-label--btns {
    display: inline;
    margin-bottom: 0;
    padding-left: 10px;
    vertical-align: top;
    cursor: pointer; }

.order__form-input {
  width: 100%;
  border-radius: 4px;
  height: 2.0625rem;
  outline: none; }
  .order__form-input:focus {
    border: 2px solid #f9b43b;
    border-radius: 4px; }

@media screen and (max-width: 480px) {
  .form-row__payment {
    margin-bottom: 1.875rem; } }

@media screen and (max-width: 480px) {
  .form-row__callback {
    margin-bottom: 1.875rem; } }

.form__btn--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.form__radio-btn--custom {
  position: relative;
  display: inline-block;
  background: #fff;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  cursor: pointer; }

input[type="radio"]:checked + .form__radio-btn--custom:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 50%;
  background: #e35028; }

.order__form-label--checkbox {
  padding-left: 1.75rem;
  margin-left: -0.625rem;
  z-index: 10;
  cursor: pointer; }

.checkbox__custom {
  position: relative;
  display: inline-block;
  background: #fff;
  width: 0.9375rem;
  height: 0.9375rem; }

input[type="checkbox"]:checked + .checkbox__custom:before {
  position: absolute;
  content: "";
  display: block;
  left: 2px;
  top: 4px;
  width: 8px;
  height: 3px;
  border-radius: 1px;
  border-left: 3px solid #e35028;
  border-bottom: 3px solid #e35028;
  transform: rotate(-45deg); }

.order__form-block {
  width: 100%;
  margin-left: 20px;
  white-space: nowrap;
  cursor: pointer; }
  .order__form-block:first-child {
    margin-left: 0; }

.order__comment {
  width: 100%;
  height: 6.25rem; }

.payment-mask {
  width: 50%; }

.burgers-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  width: 22px;
  align-items: center;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burgers-menu-link {
      display: flex; } }

.burger-menu-link__bars {
  background-color: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }
  .burger-menu-link__bars:before {
    background-color: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
    content: '';
    display: block;
    position: absolute;
    top: 0; }
  .burger-menu-link__bars:after {
    background-color: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
    content: '';
    display: block;
    position: absolute;
    bottom: 0; }

.burger__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex: .8; }
  @media screen and (max-width: 768px) {
    .burger__content {
      flex-direction: column;
      width: 100%; } }
  .burger__content-right {
    flex-direction: column; }
  .burger__content-left {
    position: relative; }

.content__ingredients {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  background: #f08c33;
  border-radius: 4px;
  top: -5.125rem;
  left: -1.5625rem; }

.ingredients__text {
  color: #fff;
  position: absolute;
  bottom: 0.75rem;
  left: 1.375rem; }

.burgers__title, .kkal__number, .kkal__text {
  font-family: Gagalin, sans-serif;
  font-weight: normal; }

.burger-icon {
  color: #fff;
  position: absolute;
  left: 1.375rem;
  top: 0.875rem; }

.kkal-icon {
  fill: rgba(255, 255, 255, 0.7); }

.kkal__icon {
  position: absolute;
  bottom: -4.5rem;
  left: -0.375rem;
  width: 3.75rem;
  height: 5rem; }
  @media screen and (max-width: 768px) {
    .kkal__icon {
      top: -4.3125rem;
      right: -2.25rem;
      bottom: unset;
      left: unset; } }

.kkal__number {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  bottom: 2rem;
  left: 1.0625rem; }

.kkal__text {
  position: absolute;
  left: 1rem;
  bottom: -1px;
  color: rgba(255, 255, 255, 0.7); }

.section-title__burgers {
  margin-bottom: 3.125rem;
  line-height: 1.0; }

.content__desc__text {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 34px; }

.button-burgers-link {
  color: #fff;
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 34px; }

.side-arrow--left {
  transform: rotate(90deg); }
  @media screen and (max-width: 768px) {
    .side-arrow--left {
      position: absolute;
      left: 0;
      top: 50%; } }

.side-arrow--right {
  transform: rotate(-90deg); }
  @media screen and (max-width: 768px) {
    .side-arrow--right {
      position: absolute;
      right: 0;
      top: 50%; } }

.burger__content-left, .burger__content-right {
  width: 40%; }
  @media screen and (max-width: 768px) {
    .burger__content-left, .burger__content-right {
      width: 60%; } }

.content__desc__order {
  display: flex;
  justify-content: space-around; }

.desc__order__title {
  font-size: 30px;
  font-family: Gagalin, sans-serif;
  font-weight: normal;
  color: #e45028;
  white-space: nowrap; }

.order__price {
  font-size: 72px; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html, body {
  width: 100%;
  height: 100%; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%; }

.section {
  height: 100vh;
  min-height: 650px; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

.welcome {
  background: url("../img/backgrounds/first_page_bg-min.jpg") center center/cover no-repeat;
  position: relative; }

.welcome__container {
  justify-content: flex-start; }

.welcome__content {
  display: flex;
  align-items: center;
  flex: .8; }
  @media screen and (max-width: 768px) {
    .welcome__content {
      flex-direction: column;
      padding: 0 15%; } }

.welcome__section-title {
  color: #f9b43b;
  margin-bottom: 1.25rem; }

.content__example {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .content__example {
      width: 100%;
      align-items: center; } }

.content__text {
  width: 49%;
  padding-left: 0.6875rem;
  padding-top: 3.25rem;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .content__text {
      width: 100%;
      padding-top: 0;
      text-align: center; } }

.welcome__desc {
  font-family: Lifehack, sans-serif;
  font-weight: normal;
  font-size: 4.0625rem;
  color: #fff; }

.best {
  background: url("../img/backgrounds/second_pg_bg-min.jpg") center center no-repeat;
  background-size: cover; }

.best__section-title {
  margin-bottom: 5%; }

.best__content {
  padding-bottom: 2%; }

.best__list {
  display: flex;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__list {
      display: block; } }

.best__item {
  flex: 1;
  margin-right: 0.625rem; }
  .best__item:last-child {
    margin-right: 0; }

.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.team {
  background: url("../img/backgrounds/team_bg-min.JPG") center center/cover no-repeat;
  position: relative; }

.section-title__team {
  padding-top: 100px;
  margin-bottom: 30px; }

.team__menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }
  @media screen and (max-width: 768px) {
    .team__menu {
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center; } }

.menu__content {
  padding-left: 15%; }
  @media screen and (max-width: 768px) {
    .menu__content {
      padding-left: 0; } }

.menu {
  background: url("../img/backgrounds/menu_bg-min.jpg") center center/cover no-repeat;
  position: relative; }

.section-title__menu {
  position: absolute;
  top: 14%;
  left: 7%; }
  @media screen and (max-width: 768px) {
    .section-title__menu {
      display: none; } }

.map {
  background: url("../img/backgrounds/contacts_bg-min.jpg") center center/cover no-repeat; }
  .map .map__container {
    position: relative;
    width: 100%;
    height: 100%; }

.order {
  background: url("../img/backgrounds/order_bg.JPG") center center/cover no-repeat; }

.section-title__order {
  margin-bottom: 4%;
  margin-top: -3%; }

.burgers {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9b43b+0,eb8d38+49,eb8d38+69,f9b43b+100 */
  background: #f9b43b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9b43b 0%, #eb8d38 65%, #eb8d38 35%, #f9b43b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8d38 65%, #eb8d38 35%, #f9b43b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8d38 65%, #eb8d38 35%, #f9b43b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
  /* IE6-9 */ }

/*# sourceMappingURL=main.css.map */
