html{
  font-size: 16px;
  @include tablets{
    font-size: 15px;
  }

  @include phones{
    font-size: 14px;
  }
}

html, body{
  width: 100%;
  height: 100%;

}

.container{
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}

.section{
  height: 100vh;
  min-height: 650px;
}

img{
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

ul{
  padding: 0;
  margin: 0;
  & > li{
    list-style: none;
  }
}

p{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}