.burgers{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9b43b+0,eb8d38+49,eb8d38+69,f9b43b+100 */
  background: #f9b43b; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9b43b 0%, #eb8d38 65%, #eb8d38 35%, #f9b43b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f9b43b 0%,#eb8d38 65%,#eb8d38 35%,#f9b43b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f9b43b 0%,#eb8d38 65%,#eb8d38 35%,#f9b43b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
  position: relative;
}

.side-arrow--right, .side-arrow--left{
  position: absolute;
}


.side-arrow--right{
  transform: rotate(-90deg);
  right: 5%;
  top: 50%;
  @include tablets{
    position: absolute;
    right: 0;
    top: 50%;
  }
}


.side-arrow--left{
  transform: rotate(90deg);

  left: 5%;
  top: 50%;
  @include tablets{
    position: absolute;
    left: 0;
    top: 50%;
  }
}


