.team{
  background: url("../img/backgrounds/team_bg-min.JPG")center center / cover no-repeat;
  position: relative;
}

.team__menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  @include tablets{
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu__content{
  padding-left: 15%;
}

