.welcome{
  background: url("../img/backgrounds/first_page_bg-min.jpg")center center / cover no-repeat;
  position: relative;
}

.welcome__container{
  justify-content: flex-start;
}

.welcome__content{
  display: flex;
  align-items: center;
  flex:.8;

  @include tablets{
    flex-direction: column;
    padding: 0 15%;
  }
}

.welcome__section-title{
  color: #f9b43b;
  margin-bottom: rem(20px);
}

.content__example{
  width: 50%;

  @include tablets{
    width: 100%;
    align-items: center;
  }
}

.content__text{
  width: 49%;
  padding-left: rem(11px);
  padding-top: rem(52px);
  line-height: 1;
  
  @include tablets{
    width: 100%;
    padding-top: 0;
    text-align: center;
  }
}

.welcome__desc{
  font-family: Lifehack, sans-serif;
  font-weight: normal;
  font-size: rem(65px);
  color: #fff;
}

