//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #c1401e;

//breakpoints
$tablets: 768px;
$phones: 480px;

//adjustment
@import "normalize";
@import "fonts";
@import "src/css/media";

//blocks style
@import "blocks/button";
@import "blocks/section-title";
@import "blocks/header";
@import "blocks/section__nav";
@import "blocks/down-arrow";
@import "blocks/feature";
@import "blocks/review";
@import "blocks/accordeon__item__desc";
@import "blocks/accordeon__desc__text";
@import "blocks/accordeon__item";
@import "blocks/map__footer";
@import "blocks/menu__acco";
@import "blocks/svg__icons";
@import "blocks/order__form";
@import "blocks/burgers-menu-link";
@import "blocks/burgers__content";
@import "blocks/menu__overlay";
@import "blocks/slider";
@import "blocks/ingredients__menu";
@import "blocks/overlay";
@import "blocks/video__player";
@import "blocks/one-page-scroll";


//section style
@import "src/css/layouts/layout";
@import "sections/welcome";
@import "sections/best";
@import "sections/reviews";
@import "sections/team";
@import "sections/menu";
@import "sections/map";
@import "sections/order";
@import "sections/burgers";
@import "sections/work";






