.burger__content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  &-right{
    flex-direction: column;
  }
  &-left{
    position: relative;
  }
}

.content__ingredients{
  position: absolute;
  width: 88px;
  height: 88px;
  background: #f08c33;
  border-radius: 4px;
  top: -82px;
  left: -25px;
}

.content__left__img{
  display: flex;
}

.burger-icon{
  position: absolute;
  left: 22px;
  top: 14px;
}

.ingredients__text{
  position: absolute;
  bottom: 12px;
  left: 22px;
}

.kkal__icon{
  position: absolute;
  bottom: -72px;
  left: -6px;
  width: 60px;
  height: 80px;
}

.kkal__number{
  position: absolute;
  bottom: 32px;
  left: 14px;
}

.kkal__text{
  position: absolute;
  left: 16px;
  bottom: -1px;
}

.section-title__burgers{
  margin-bottom: 50px;
}

.side-arrow--left{
  transform: rotate(90deg);
}

.side-arrow--left__link{
}

.side-arrow--right{
  transform: rotate(-90deg);
}

.burger__content-left, .burger__content-right{
  display: flex;
  width: 40%;
}

.content__desc__order{
  display: flex;
}