/*
Error: Undefined mixin 'tablets'.
        on line 11 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers-menu-link.scss, in `tablets'
        from line 11 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers-menu-link.scss

6:   height: rem(22px);
7:   width: rem(22px);
8:   align-items: center;
9:   display: none;
10:   z-index: 1000;
11:   @include tablets{
12:     display: flex;
13:   }
14: }
15: 
16: .open + .burgers-menu-link__bar{

Backtrace:
C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers-menu-link.scss:11:in `tablets'
C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers-menu-link.scss:11
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
F:/koalaPrepro/bin/sass:22:in `load'
F:/koalaPrepro/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'tablets'.\A         on line 11 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers-menu-link.scss, in `tablets'\A         from line 11 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers-menu-link.scss\A \A 6:   height: rem(22px);\A 7:   width: rem(22px);\A 8:   align-items: center;\A 9:   display: none;\A 10:   z-index: 1000;\A 11:   @include tablets{\A 12:     display: flex;\A 13:   }\A 14: }\A 15: \A 16: .open + .burgers-menu-link__bar{"; }
