.burgers-menu-link{
  vertical-align: middle;
  margin-left: 5px;
  position: fixed;
  right: rem(20px);
  height: rem(22px);
  width: rem(22px);
  align-items: center;
  display: none;
  z-index: 1000;
  @include tablets{
    display: flex;
  }
}

.open + .burgers-menu-link__bar{


}

.burgers-menu-link__bar{
    background-color: #fff;
    width: rem(22px);
    height: rem(5px);
    border-radius:rem(3px) ;
    position: relative;

  &:before{
    background-color: #fff;
    width: rem(22px);
    height: rem(5px);
    border-radius:rem(3px) ;
    content: '';
    display: block;
    position: absolute;
    top: -9px;
  }
  &:after {
    background-color: #fff;
    width: rem(22px);
    height: rem(5px);
    border-radius:rem(3px) ;
    content: '';
    display: block;
    position: absolute;
    bottom: -9px;
  }
}
