/*
Error: Undefined mixin 'phones'.
        on line 29 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers__content.scss, in `phones'
        from line 29 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers__content.scss

24: .ingredients__text{
25:   color: #fff;
26:   position: absolute;
27:   bottom: rem(12px);
28:   left: rem(22px);
29:   @include phones{
30:     bottom: rem(8px);
31:     left: rem(20px);
32:   }
33: }
34: 

Backtrace:
C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers__content.scss:29:in `phones'
C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers__content.scss:29
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
F:/koalaPrepro/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
F:/koalaPrepro/bin/sass:22:in `load'
F:/koalaPrepro/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'phones'.\A         on line 29 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers__content.scss, in `phones'\A         from line 29 of C:\Users\Roman\WebstormProjects\Burgers\css\blocks\burgers__content.scss\A \A 24: .ingredients__text{\A 25:   color: #fff;\A 26:   position: absolute;\A 27:   bottom: rem(12px);\A 28:   left: rem(22px);\A 29:   @include phones{\A 30:     bottom: rem(8px);\A 31:     left: rem(20px);\A 32:   }\A 33: }\A 34: "; }
