.burgers-menu-link{
  vertical-align: middle;
  position: relative;
  height: rem(22px);
  width: 22px;
  align-items: center;
  display: flex;
  @include tablets{
    display: flex;
  }
}

.burger-menu-link__bars{
    background-color: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius:rem(3px) ;

  &:before{
    background-color: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius:rem(3px) ;
    content: '';
    display: block;
    position: absolute;
    top: 0;
  }
  &:after {
    background-color: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius:rem(3px) ;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
  }

  }
