
.button{
  color:#fff;
  text-decoration: none;
  font-family: Ubuntu_Medium, sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: #e45028;
  border-radius: 5px;
  padding: 10px 15px;

  &:hover{
    background-color: #c1401e;
  }
  
  &--bg-black{
    background-color: #2f3234;
    &:hover{
      background-color: #1f2122;
    }
  }
}
