.feature{
  @include phones{
    display: inline-flex;
  }
}

.feature__desc{
  text-align: center;
  @include phones{
    text-align: left;
    width: 90%;
    padding-left: 19px;
  }
}

.feature__icon{
  margin-bottom: 10%;
}

.feature__title{
  font-family: Lifehack, sans-serif;
  font-weight: normal;
  font-size: rem(24px);
  color: #2f3234;
  margin-bottom: rem(10px);
}

.feature__text{
  font-size: rem(14px);
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  line-height: 1.6;

}