.feature__desc{
  text-align: center;
}

.feature__icon{
  padding-bottom: 10%;
}

.feature__title{
  font-family: "Lifehack Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #2f3234;
  margin-bottom: 10px;
}

.feature__text{
  font-size: 14px;
  font-family: Ubuntu_Light, sans-serif;
  line-height: 1.6;
  font-weight: 500;

}