
.welcome__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(10px);
}

.header__menu{
@include tablets{
  display: none;
}
}

.header__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.menu__list{
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  align-items: center;
  margin-right: rem(15px);

  &:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: rem(20px);
  }

  &:last-child {
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}
.menu__link{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: rem(13px);
}
.welcome__order-button{
  margin-left: rem(15px);
  text-transform: uppercase;
}