.order__form{
  display: flex;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: rem(14px);

  @include tablets{
    margin-left: 0;
    flex-direction: column;
    padding: 0 15%;
  }
}

.order__form-tag{
  color: #fff;

}

.order__form-row{
  display: flex;
  margin-bottom: rem(13px);

  @include phones{
    justify-content: center;
  }
}


.order__form-col{
  width: 50%;
  &__right{
    width: 48%;
    margin-left: 2%;
  }
  @include tablets{
    margin-left: 0;
    width: 100%;
  }
}

.order__form-label{
  display: flex;
  margin-bottom: rem(10px);
  &--btns{
    display: inline;
    margin-bottom: 0;
    padding-left: 10px;
    vertical-align: top;
    cursor: pointer;
  }
}

.order__form-input {
  width: 100%;
  border-radius: 4px;
  height: rem(33px);
  outline: none;

  &:focus{
    border: 2px solid #f9b43b;
    border-radius: 4px;
  }
}

.form-row__payment{
  @include phones{
    margin-bottom: rem(30px);
  }
}

.form-row__callback{
  @include phones{
    margin-bottom: rem(30px);
  }

}
.form__btn--hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__radio-btn--custom{
  position: relative;
  display: inline-block;
  background: #fff;
  width: rem(15px);
  height: rem(15px);
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked + .form__radio-btn--custom:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 50%;
  background: #e35028;
}

.order__form-label--checkbox{
  padding-left: rem(28px);
  margin-left: rem(-10px);
  z-index: 10;
  cursor: pointer;


}

.checkbox__custom{
  position: relative;
  display: inline-block;
  background: #fff;
  width: rem(15px);
  height: rem(15px);
}

input[type="checkbox"]:checked + .checkbox__custom:before{
  position: absolute;
  content: "";
  display: block;
  left: 2px;
  top: 4px;
  width: 8px;
  height: 3px;
  border-radius: 1px;
  border-left: 3px solid #e35028;
  border-bottom: 3px solid #e35028;
  transform: rotate(-45deg);
}


.order__form-block{
  width: 100%;
  margin-left: 20px;
  white-space: nowrap;
  cursor: pointer;
  &:first-child{
    margin-left: 0;
  }
}
.order__comment{
  width: 100%;
  height: rem(100px);
}

.payment-mask{
  width: 50%;
}