.review{
  position: relative;

  &:hover {
    .review__hover{
      opacity: 1;
    }
  }
}


.review__avatar{
  object-fit: cover;
  width: 100%;
  height: 100%;
  &-wrap{
    filter: grayscale(100%);
    height: 100%;
  }
}

.review__hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .8);
  padding: 10% 12% 0;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
}

.review__title{
  font-family: Gagalin, sans-serif;
  font-weight: normal;
  font-size: rem(14px);
  margin-bottom: 20px;
}

.review__text{
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.button--bg-black{
  text-transform: uppercase;
}