.section__nav{
  position: fixed;
  left: 95%;
  top: 15%;
  z-index: 10;
}

.section__nav__item{
  color: #fff;
  width: 7px;
  height: 7px;
  margin: 15px;
  background: red;
  border-radius: 50%;
  &:after{
    bottom: 10%;
    left: 11px;
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid green;
  }
}